/*Polices declarations*/
/* @font-face {
    font-family: "basic light";
    src: url("Basic Light.ttf");
}

@font-face {
    font-family: "neoteric-bold";
    src: url("NEOTERIC©\ -\ Bold\ DEMO\ VERSION.ttf");
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url();
}

@font-face {
    font-family:'Montserrat', sans-serif;
    src: url();
} */


/*body, header & main*/



body  {
    background: 
    radial-gradient(circle at bottom, white, transparent 80%),    
    linear-gradient(to top, dodgerblue 0%, transparent 70%),    
    linear-gradient(to bottom, transparent, rgba(white, 0.4) 70%),
    blue;  
  animation: bg 10s infinite;
}
@keyframes bg {
    0%, 100% { background-color: #0b4357; }
    50% { background-color: #15433f; }
  }

.container {
    width: 750px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: aliceblue;
    -webkit-box-shadow: -1px 0px 37px 19px rgba(0,0,0,0.65); 
    box-shadow: -1px 0px 37px 19px rgba(0,0,0,0.65);
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 130px;
}
.blue-side {
    background-color: #179498;
    color: white;
    width: 190px;
    margin-left: 20px;
    padding: 2%;
}
.blue-side h4  {
    font-weight: bold;
}
.adress-side {
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    padding-top: 0%;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.description {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
    color: #666666;
}
.description-text {
    width: 80%;
}

.right-side {
    width: 450px;
    margin-left: 12px;
}


/* PARTIE DE GAUCHE */

.profil-side {
    display: flex;
    flex-direction: column;
}

.section-title-left {
    border-bottom: 3px #f9f9f9 solid;
    font-weight: bold;
}

.blueside-section {
    border-bottom: 2px solid white;
    padding: 10px 0px;
}

.blueside-component {
    display: flex;
    flex-direction: column;
    gap:3px;
    margin: 8px 0px;
}
.contact-regroup {
    display: flex;
    flex-direction: column;
    gap:5px;
}
.passion-regroup {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px 0px;
}
.passions-title {
    font-style: italic;
    margin: 0 auto;
    font-size:17px;
}
.passions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.passion {
    display:flex;
    flex-direction: column;
    gap:5px;
}

/* PARTIE DE DROITE */

.right-side {
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 450px;
    margin-left: 30px;
    color: #666666;
}
.section-title-right {
    border-bottom: 3px #179498 solid;
    color: #179498;
    font-weight: bold;
    margin-bottom: 10px;
}

/* FORMATIONS */

.experience-section {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.experiences {
    display: flex;
    gap:30px;
    height: fit-content;
}
.name-description-experience {
    display: flex;
    flex-direction: column;
    gap:7px;
    width: 320px;
}

/* COMPETENCES */


.competence-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.competences-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    justify-content: center;
    padding: 0px 10px 0px 0px;
    gap : 5px;
}
.competences-group li{
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: flex-end;
    width: 220px;
    gap : 20px;
}
.competences-group li h3 {
    text-align: end;
}
progress {
    width: 80px;
    accent-color: #08275f
}


/* EXPERIENCES */

.experience-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.experience-pro {
    display: flex;
    gap:30px;
    height: fit-content;
}

.date-type-experience {
    width: 73.5px;
}
.type-experience{
    font-size: 13px;
}

.title-description-experience {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap:4px;
}

/* FOOTER */

.bottom {
    background-color: #179498;
    width: 100%;
    margin-top: 50px;
}

.links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    gap:50px;
}
.links-footer a img {
    width: 40px;
}

/* POLICES */

h1 {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: bold;
    color: #666666;
    margin-left: 20px;
    margin-top: 40px;
}
h1 span {
    color:#179498
}
h2 {
    font-family: Montserrat;
    font-size: 23px;
}
h3 {
    font-family: Open sans;
    font-weight: bolder;
    font-size: 15px;
}
h4 {
    font-family: Open sans;
}
p {
    font-family: Open sans;
    font-size:15px;
}
p strong {
    font-weight: bold;
}
a:link {
    color: white;
}
  a:visited {
    text-decoration: none;
    color: white;
}
  a:hover {
    text-decoration: none;
}
  a:active {
    text-decoration: none;
}

/* BACKGROUND */

